.ql-container {
  font-family: "pretendard", "pretendard Fallback";
}

.ql-editor.ql-blank:before {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 150%;
  color: var(--color-gray-500);
}

.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
}

.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
}

.ql-toolbar.ql-snow:not(#\#):not(#\#):not(#\#),
.ql-container.ql-snow:not(#\#):not(#\#):not(#\#) {
  border-color: #eee;
}

.ql-disabled {
  background-color: #fafafa;
}
